@import 'tools/all-tools';
@import 'components/all-components';

pre {
	display: none;
}

html,
button,
input,
select,
textarea {
	@include primary_font();
	color: palette(gray,x-dark);
}

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-weight: 200;
	margin: 0;
	font-size: 14pt;
	line-height: 1.4;
	background: palette(gray,xx-light);

	@media (max-width: 64em) {
		line-height: 1;
	}
}

.site {

}

.container {
	clear: both;
	position: relative;
	padding: 0 1.25em;
}
