section {
  width: 100%;
	padding: 10em 0;
	position: relative;
	overflow: hidden;

	&.intro {
    &--gray {
      background-color: palette(gray,x-light);
    }

    &--center-text {
      text-align: center;

      h1 { margin: .5em 0; }
      hr {
        margin: 4vw 46vw;
        border: none;
        border-top: 7px solid palette(green,x-light);
      }
    }
	}
}
